@import url("./w3.css");
@import url("~leaflet.awesome-markers/dist/leaflet.awesome-markers.css");
@import url("~@fortawesome/fontawesome-free/css/all.css");
@import url("~leaflet-contextmenu/dist/leaflet.contextmenu.css");
@import url("~leaflet.markercluster/dist/MarkerCluster.css");
@import url("~leaflet.markercluster/dist/MarkerCluster.Default.css");
/* NOTE: must come after 3rd party styles, so they can be overridden */
@import url("styles/style.css");
