.env

# For Vim users:
*.swp
*.swo

# For emacs users:
*~
*#

# For VSCode users
*.vscode

# General:
*.zip

# Mac OS/X cruft:
.DS_Store

# NOTE: npm generated package-lock.json *should* be committed

# NPM installs libraries here (and in subdirs)
node_modules/

# Optional link to an external map project for development purposes
# (e.g. mykomap-site-example)
/ext

# Configuration for local testing
/src/configuration
/src/services/locCache.json
/src/services/latest_timestamp.txt
/dist/
/build/
