:root {
  /* --teal: #0bb696; */
  --pink: #d90368;
  /* --orange: #fb8b24; */
  --navy: #001f3f;
  --blue: #0074d9;
  --aqua: #7fdbff;
  --aqua-contrast: #004966;
  --teal: #39cccc;
  --olive: #3d9970;
  --green: #2ecc40;
  --lime: #01ff70;
  --lime-contrast: #00662c;
  --yellow: #ffdc00;
  --yellow-contrast: #665800;
  --orange: #ff851b;
  --red: #ff4136;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --maroon: #85144b;
  --silver: #dddddd;
  --gray: #aaaaaa;
  --brown: #b6330b;
  --dark: #363636;
  --dark-gray: #565656;
  --white: #ffffff;
  --black: #000000;

  --sea-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --sidebar-width: 296px;
}

html,
body {
  margin: 0;
  padding: 0;
}

#map-app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map-app-content {
  background-color: var(--teal) !important;
}

.sea-active-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

/* Style the marker icons */
.sea-marker svg.sea-map-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.sea-marker svg.sea-map-shadow {
  position: absolute;
  height: 100%;
}
.svg-icon-path {
  fill: red;
}
/* Style the marker symbols */
.sea-marker::before {
  content: "\f0a3";
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -50%) scale(120%);
}

.sea-non-geo-marker {
  visibility: hidden;
}

.sea-non-geo-initiative .leaflet-popup-tip-container {
  visibility: hidden;
}

.sea-selected {
  filter: brightness(0.8);
}

.sea-directory-list.colours li {
  border-left-style: solid;
  border-left-width: 6px;
}

/* All */
.sea-initiatives-list-sidebar.sea-field-all,
.sea-field-all .sea-initiatives-list-sidebar-content,
.sea-field-all:hover,
.sea-field-all.sea-field-active {
  background: var(--dark) !important;
}

.sea-directory-list .sea-field-all {
  border-color: var(--dark) !important;
}

.awesome-marker-icon-am00 {
  background-position: -648px 0;
}

.advanced-label {
  font-size: 13px;
  margin-bottom: 5px;
}

.advanced-select {
  background-color: var(--maroon);
  color: var(--white);
}

.advanced-option{
  background-color: var(--white);
  color: var(--black);
}

.advanced-option:disabled {
  color: #ccc; 
}

.sidebar-button-container{
  margin-top: 5px;
}
/* Sidebar */

.sea-sidebar {
  position: absolute;
  width: var(--sidebar-width);
  /* limit width to size of container, minus estimated sidebar button size */
  max-width: calc(100% - 50px); 
  height: 100%;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.16s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-family: var(--sea-font-family-sans-serif);
  font-weight: 300;
  color: var(--dark);
  background: white;
}

.sea-sidebar-open {
  transform: translateX(0);
}

.sea-main-sidebar,
.sea-initiatives-list-sidebar,
.sea-initiative-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.sea-main-sidebar {
  z-index: inherit; /* attempt to stop scrollbar showing through */
  overflow-y: auto;
}

.sea-initiatives-list-sidebar-content,
.sea-initiative-sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 0 0 1.4em;
  font-weight: 400;
}
.sea-initiatives-list-sidebar-content {
  height: 100%;
}
.sea-main-sidebar-inner {
  flex: 0 0 auto;
}

.sea-initiative-non-geo {
  color: gray;
  font-style: italic;
}

.sea-initiative-sidebar-content {
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: scroll;
}

.sea-initiative-sidebar {
  z-index: 200;
  transform: translateX(-100%);
}

.sea-sidebar-open.sea-sidebar-list-initiatives .sea-initiatives-list-sidebar {
  transform: translateX(var(--sidebar-width));
}

.sea-initiatives-list-sidebar {
  right: 0;
  background-color: var(--dark);
  color: white;
}

.sea-initiatives-list-sidebar,
.sea-initiative-sidebar {
  transition: transform 0.16s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.sea-sidebar h1 {
  font-weight: 700;
  font-size: 1.6rem;
}

.sea-sidebar h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

.sea-sidebar h2.sea-field {
  padding: 0.5rem 1rem 0.7rem;
  margin: 0;
  line-height: 1.3;
  font-size: 1.3rem;
}

.sea-sidebar h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

/* Map */
.map-app-display-container {
  z-index: 30;
}

div.map-app-map-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.map-app-sidebar-button {
  position: absolute;
  left: 100%;
  z-index: -1;
  margin-top: 1em;
}

.map-app-sidebar-button button {
  padding: 0 0.45em;
  font-size: 2.4em;
  color: white;
  transition: all 0.16s;
  transform: translateX(-3px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.w3-btn:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateX(0px);
}

.map-app-sidebar-header {
  display: flex;
  justify-content: flex-start;
  background: white;
  color: var(--dark);
  font-size: 1.4em;
}

.sidebar-button {
  flex-shrink: 0;
  font-size: 1.4rem;
}

#map-app-sidebar-history-navigation {
  display: flex;
  flex-wrap: nowrap;
}

input[type="search"] {
  -webkit-appearance: none; /* avoid rounded searchbox on safari */
}

.w3-button:hover {
  color: white !important;
  background-color: var(--dark) !important;
}

.w3-btn:focus,
.w3-button:focus {
  outline: none;
}

.map-app-sidebar-fixed-section {
  background-color: white;
}

.map-app-sidebar-scrollable-section {
  position: relative;
  flex: 1 1 auto;
  -webkit-overflow-scrolling: touch;
}

.sea-directory-list,
.sea-initiative-list {
  list-style: none;
  font-size: 1.05em;
  padding: 0;
  margin: 0 0 1.6em;
}

.sea-initiative-list {
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sea-directory-list li,
.sea-initiative-list li {
  margin: 0;
  padding: 0.4rem 1rem 0.4rem 1.25rem;
  user-select: none;
}

.sea-directory-list li:hover,
.sea-field-active {
  color: white;
  background-color: var(--dark);
  cursor: pointer;
  /* font-weight: 400; */
}

.sea-initiative-list li:hover,
.sea-sidebar h2.sea-field:hover {
  color: var(--dark);
  background-color: white;
  cursor: pointer;
}

.sea-initiative-active {
  color: var(--dark);
  background-color: white;
}

.sea-search-initiative-active {
  color: white;
  background-color: var(--dark);
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.m-auto {
  margin: auto;
}

.map-app-search-form {
  max-width: 300px;
  width: 100%;
}

.sea-sidebar,
.w3-modal {
  z-index: 40;
}

/* Sidebar & Popup */

.sea-initiative-popup .sea-initiative-details,
.sea-initiative-sidebar .sea-initiative-details {
  padding: 1em 1.5em;
  background: white;
}

.sea-initiative-popup .sea-initiative-contact,
.sea-initiative-sidebar .sea-initiative-contact {
  padding: 1em 1.5em 1.5em;
  background: #f0f0f0;
}

/* Sidebar */
.sea-initiative-sidebar .sea-initiative-details {
  padding-top: 0;
}

/* Popup */


.sea-initiative-popup .leaflet-popup-content-wrapper {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 0;
}

.sea-initiative-popup .leaflet-popup-content {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.sea-initiative-popup .sea-initiative-details {
  max-height: 600px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1em 1.5em;
  border-radius: 6px 0 0 6px;
  background: white;
}

.sea-initiative-popup .sea-initiative-contact {
  flex-grow: 1;
  padding: 1em 1.5em 1.5em;
  border-radius: 0 6px 6px 0;
  background: #f0f0f0;
  overflow-y: auto;
}

.sea-initiative-popup h2,
.sea-initiative-popup h3,
.sea-initiative-popup h4,
.sea-initiative-popup h5,
.sea-initiative-popup p {
  font-family: var(--sea-font-family-sans-serif);
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.sea-initiative-contact a{
  word-break: break-all;
}

.sea-initiative-popup h3,
.sea-initiative-sidebar-content h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.9rem;
}

.sea-initiative-popup h4,
.sea-initiative-sidebar-content h4 {
  font-weight: 600;
  font-size: 0.95rem;
  margin-top: 0rem;
  color: var(--dark-gray);
}

.sea-initiative-popup h5,
.sea-initiative-sidebar-content h5 {
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 0rem;
  color: var(--dark-gray);
}

.sea-initiative-popup p,
.sea-initiative-sidebar-content p {
  font-weight: 300;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.sea-initiative-links a:link,
.sea-initiative-links a:visited,
.sea-initiative-links a:hover,
.sea-initiative-links a:active {
  text-decoration: none;
  color: var(--dark);
  font-size: 1.2rem;
  padding-right: 0.5rem;
  margin-top: 0.7rem;
}

@media (max-device-width: 1080px) {
  .sea-initiatives-list-sidebar {
    transform: translateX(-100%);
    z-index: 100;
  }

  .sea-sidebar-list-initiatives .sea-initiatives-list-sidebar {
    transform: translateX(0%);
  }

  .sea-sidebar-open.sea-sidebar-list-initiatives .sea-initiatives-list-sidebar {
    transform: translateX(0);
  }
}

@media (max-device-width: 800px) {
  .sea-initiative-popup {
    display: none;
  }

  .sea-initiative-sidebar-open {
    transform: translateX(0);
  }
}

#dir-filter {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: white;
  caret-color: transparent;
  overflow: hidden;
  opacity: 0;
  padding: 0px 0px 0px 16px;
  margin: 0px;
  width: auto;
}

#dir-filter:focus {
  outline: none;
}

#dir-title {
  padding: 0px 0px 0px 16px;
}
#loadingCircle * {
  z-index: 400;
}

#loadingCirclespin {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 300px;
  height: 300px;

  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;

  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loadingCircletxt {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  /* margin is -0.5 * dimension */
  margin-top: -40px;
  font-size: 20px;
  color: var(--dark);
}

#map-app-leaflet-map {
  text-align: center;
}

.initiative-list-sidebar-btn-wrapper {
  display: none;
}

@media (max-device-width: 1080px) {
  .initiative-list-sidebar-btn-wrapper {
    display: flex;
    justify-content: flex-start;
    font-size: 1.4em;
    flex: 0 0 auto; 
  }

  .sidebar-normal-size-close-btn {
    display: none;
  }
}

#logo-holder {
  display: block;
  height: 4rem;
  margin: 10px; /* to match other controls */
  pointer-events: none;
  user-select: none;
}

/* Shrink the logo on small displays to avoit it overflowing */
@media (max-device-width: 768px) {
  #logo-holder {
    height: 2.5rem;
  }
}

#logo-holder .logo {
  height: 100%;
}
